<nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top navbar-static-top">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="
	    #navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto nav-item">
			<li class="nav-item">
			    <a class="nav-link navbar-brand " >Logo</a><br>	
			</li>
			
	       	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	       		<li class="navite"><a class="nav-link navbar-brand "  routerLink="/">Home</a></li>
	       		<li class="navite"><a class="nav-link navbar-brand "  routerLink="/login">Create New Post</a></li>
	       		<li class="navite"><a class="nav-link navbar-brand " routerLink="/" (click)="logout()">Logout</a></li>	       		
	  		</div>
		</ul>
	</div>	
</nav>