<div id="postId">
	<div class="w-100 mb-3"  *ngFor="let p of post">
		<div class="row">
			<div class="col-sm-12">
			  <div class=" h3">
			  	{{p.title}}
			  </div>
			   <div  [innerHTML]="p.description"></div>
			  <div class=" date h5">
			  	Date of Post :{{p.dateposted}}
			  </div>
			</div>	
		</div>
		<div class="row">
			<div class="form-group">
			  <form #fc="ngForm">
			 	<input ngModel class="form-control" type="text" name="comment" 
			 	#comment="ngModel" placeholder="comment"
			 	 (keyup.enter)="saveComment(fc.value,p.keyId)">
			  </form>	
			</div>
		</div>
		<div class="row" *ngFor="let comment of p.comments">
		  <div class="col-sm-10 m-1">{{comment}}</div>	
	   </div>
	</div>
	<app-show-map></app-show-map>

</div>